/* Estilos generales para el formulario */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Puedes ajustar el ancho máximo del formulario */
    width: 100%; /* Asegura que el formulario sea responsive */
    margin: 10px auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Asegura que el padding y borde no se agreguen al ancho total */
    max-height: 90vh; /* Limita el alto del formulario */
    overflow-y: auto; /* Si el contenido se desborda, permitirá el desplazamiento vertical */
}

h2 {
    color: #2c3e50;
}

/* Estilos para los campos de texto */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px; /* Reducir el padding */
    margin: 6px 0 12px; /* Reducir el margen entre los inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px; /* Reducir el tamaño de fuente */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

/* Estilos para los labels */
label {
    font-size: 14px; /* Reducir el tamaño de fuente */
    margin-bottom: 6px; /* Reducir el margen inferior */
    display: block;
    color: #2c3e50;
    text-align: left;
}

/* Estilos para el botón */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px; /* Reducir el padding del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Reducir el tamaño de la fuente */
}

button:hover {
    background-color: #45a049;
}
